.header{
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    background-color:#16181d; 
    height: 3.25rem;

}
.help{
    color: #61dafb;
    font-weight: 500;
    }
    
    .supportUkr{
        margin-right: 0.5rem;
        color:#FFFFFF;
        font-weight: 500;
        font-size: 18px-apple-system,BlinkMacSystemFont;  
        margin: 0px 8px 0px 0px;
    }
    a{
        text-decoration: none;
    
    }
    
    .css-1yyhkcy{
        color: grey;
    }