.header1{
    display: grid;
    justify-content: center;
    align-items: center;
    background-color: #2d3038;
    padding-top: 5rem;
    padding-bottom: 6.50rem;
}

button{
    height: 3rem;
    width: 10rem;
    background-color: aqua;
    font-size: 20px;
    font-weight: 500;
    border: none;
}
.react{
        color: rgb(97, 218, 251);   
            text-align: center;
            margin: 0px;
            font-size: 50px;
            letter-spacing: 0.01em;
}
.para{
    padding-top: 15px;
        text-align: center;
        font-size: 28px;
        letter-spacing: 0.01em;
        font-weight: 500;
        color: white;
}
.getStart{
        display: inline-block;
            font-size: 16px;
            color: rgb(0, 0, 0);
            padding: 10px 25px;
            white-space: nowrap;
            transition: background-color 0.2s ease-out 0s;
            text-align: center;
}

a{
        display: inline-block;
            font-size: 18px;
            margin-left: 20px;
            transition: color 0.2s ease-out 0s;
            color: aqua;
}