
.main{
    display: grid;
    grid-template-columns:repeat(4,auto);
    background-color: #20232a;;
    justify-content: center;
    align-items: center;
    
} 

ul{
    display: flex;
    list-style-type:none;
    gap: 40px;
    color: white;
}

.firstul{
    margin-right: 40rem;
    color:#61dafb;
    font-size: 20px;
    font-weight: 500;
}

.firstul img{
    margin-right: -30px;

}

 .secondul{
    margin-left: -35rem;
} 

.thirdul{
    display: flex;
    background-color: white;
    padding: 4px 8px;
}
.thirdul input {
    border: none;
    outline: none;
}

#boximg{
    height: 2px;
    color: gray;
}

.svgimg{
    color: white;
}

.language{
    display: flex;
}

.svg{
    color: white;
}
