.container{
    display: flex;
    /* justify-content: center; */
    padding: 2rem 8rem 2rem 8rem;
    column-gap: 3rem;
}
h3{
    /* margin-bottom: 10px; */
        color: rgb(107, 107, 107);
        padding-top: 0px;
        font-weight: 300;
        font-size: 20px;
}

p{
    font-size: 17px;
    line-height: 1.7;
    max-width: 42em;
    color: black;
    font-weight: 300;
}
.one{
    /* text-decoration: justify; */
    /* margin-right: 20px; */
}
